.searchButton{
    width:27px;
    height:27px;
}

.collect {
    width: 1.8em;
    height: 1.8em;
    float: left;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    background:url(../images/image/collect.png) no-repeat
}

.collect:hover {
    background-color: transparent;
}

.button{
    float:left;
    width:30%;
    margin-top:2%;
}