.content-left{
	width: 34%;
	height: auto;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}

.content-right{
	width: 60%;
	height: auto;
	float: left;
}

.content-right a{
	color: #454545;
}

.content-right a:hover{
	cursor: pointer;
	color: #454545;
}

.sort{
	width: 50%;
	line-height: 1.2em;
	border-left: 3px solid #9AC0CD ;
	margin-left: 0.5em;
	margin-top: 2em;
	margin-bottom: 1em;
	padding-left: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
    float:left;
	clear: both;
	color: #00C2EA;
}

.isLikeButton{
	width: 50%;
	margin-left:50%;
}

.collectBox {
    width: 3em;
    height: auto;
    float: left;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.likeBox {
    width: 26%;
    height: auto;
    float: left;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
input:focus { outline: none; }
.unlikeBox {
    width: 30%;
    height: auto;
    float: left;
    margin-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.like_count,.unlike_count{
    float:left;
    padding-left:0.5em;
    padding-right:0.5em;
}

.like_count:hover, .unlike_count:hover {
    cursor:pointer;
}

.isLikeButton_like {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: #E0FFFF;
    border: none;
    background: url(../images/image/ic_vote_normal.png) no-repeat;
}


.isLikeButton_dislike {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: white;
    border: none;
    background: url(../images/image/ic_vote_down_normal.png) no-repeat;
}
.isLikeButton_like_checked {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: #E0FFFF;
    border: none;
    background: url(../images/image/ic_vote_checked.png) no-repeat;
}


.isLikeButton_dislike_checked {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: white;
    border: none;
    background: url(../images/image/ic_vote_down_checked.png) no-repeat;
}
