body {
}

.user_imformation_image{
    width:835px;
}

.user_imformation_image img{
    width:835px;
}

.user_message_background {
    background-color: #FFFFFF;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.user_message{
    width:100%;
    min-height:5em;
    height:auto;
}