body {
}

.messageBox_view {
    width: 65%;
    height: auto;
    margin-left: 8%;
    float: left;
}

.message_view {
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #FFFFFF;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.artcle_title {
    width: 100%;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    font-size: xx-large;
}

.picture {
    width: 94%;
    height:auto;
    text-align:center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom:1em;
    clear:both;
}

.comment_area_Nid{


}

.comment_area img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

.message_view img {
    width: 100%;
}

.message_view p {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

.comment_are {
    width: 100%;
    min-height: 6em;
    margin-top: 2em;
    margin-bottom:0.35em;
    background-color: #FFFFFF;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.comment_area {
    width: 100%;
    min-height: 10em;
    margin-top: 2em;
    padding: 10px;
    background: #ffffff;
    clear:both;
}
.comment_area article{

}

.subtitle {
    width:94%;
    height:auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    color: #9E9E9E;
}

.subtitleClassification_box {
    width: 15%;
    min-height: 1em;
    height: auto;
    float: left;
    padding-left: 0.8em;
    border-left: 3px solid #9AC0CD;
}

.subtitleTime_box {
    width: 25%;
    min-height: 1em;
    height: auto;
    float: right;
}

.article{

}

.article_bottom{
    clear:both;
    width:35%;
    margin-left:65%;
    padding-top:5%;
    padding-bottom:5%;
    min-height:1em;
    height:auto;
}

.collectBox {
    width: 3em;
    height: auto;
    float: left;
}

.likeBox {
    width: 35%;
    height: auto;
    float: left;
}

.unlikeBox {
    width: 35%;
    height: auto;
    float: left;
}

.like_count, .unlike_count {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.like_count:hover, .unlike_count:hover {
    cursor:pointer;
}
.isLikeButton_like {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: #E0FFFF;
    border: none;
    background: url(../images/image/ic_vote_normal.png) no-repeat;
}


.isLikeButton_dislike {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: white;
    border: none;
    background: url(../images/image/ic_vote_down_normal.png) no-repeat;
}
.isLikeButton_like_checked {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: #E0FFFF;
    border: none;
    background: url(../images/image/ic_vote_checked.png) no-repeat;
}


.isLikeButton_dislike_checked {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    float: left;
    color: #19CF8A;
    background-color: white;
    border: none;
    background: url(../images/image/ic_vote_down_checked.png) no-repeat;
}

.comment_area_title {
    width: 15%;
    height: auto;
    float:left;
    border-bottom: 2px solid #EE7942;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 2%;
    font-size: 20px;
}

.comment_area_title_Button {
    float: right;
}

.comment_box_single {
    width: 94%;
    height: auto;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #C1C1C1;
}

.comment_box_double {
    width: 94%;
    height: auto;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #C1C1C1;
}

.comment_box_title{
    width:40%;
    height:auto;
}

.comment_box_article {
    clear: both;
    padding-top: 1em;
    padding-bottom: 1em;
    color: dodgerblue;
    font-weight: 600;
}

.name, .reply {
    float: left;
    /*margin-left:1%;
    margin-right:1%;*/
    margin-top:20px;
    padding-left:5px;
    padding-right:5px;
    /*padding-top:20px;*/
}

.reply {
    color: dodgerblue;
}

.comment_box_bottom{
    width:100%;
    height:auto;
    padding-bottom:2%;
}


.fa_img {
    width: 3%;
    list-style: none;
    list-style-type: none;
    float: left;
    padding-top: 3px;
    padding-left: 1px;
}

.replyButton .reportButton {
    width:10%;
    list-style: none;
    list-style-type: none;
    float: left;
}

.replyContent{

}

.comment_box_bottom_button {
    width: 6%;
    float: left;
    height: auto;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.comment_box_bottom_button:hover {
    color:#436EEE;
}

.comment_box_bottom_confirm {
    width: 6%;
    float: left;
    height: auto;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.comment_box_bottom_button:hover {
    color: #436EEE;
}

.comment_box_bottom_text{

}

.fold-box {
    padding: 10px;
    background: #e5eecc;
    border: solid 1px #c3c3c3;
    display: none;
    margin: 10px;
}

.fold-button {
    float:right;
    padding-top:2%;
    margin-right: 4%;
}

.fold-button span {
    display: inline-block;
    padding: 5px 15px;
    background-color: #32a5e7;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}